*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
margin:0;
font-family:Arial;
}

header{
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:10px 15px;
    gap:10px;
}

.logo-area img{
    width:100px;
    height:auto;
}

.title{
    flex:1;
    margin:0;
    text-align:center;
    font-size:18px;
    line-height:1.2;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.btn{
    padding:10px 15px;
    font-size:14px;
    border-radius:30px;
    white-space:nowrap;
    background:#E0A52B;
    color:white;    
    text-decoration:none;
}
.brand{
    display:flex;
    align-items:center;
    gap:15px;
}

@media (max-width:768px){

    header{
        flex-direction:row; /* column မဟုတ် row */
    }

    .title{
        font-size:16px;
    }

    .logo-area img{
        width:60px;
    }

    .btn{
        font-size:13px;
        padding:8px 12px;   
        background:#E0A52B;
    color:white;     
    text-decoration:none;
    }
}
.key{
    width: 100%;
    /* max-width: 400px; */
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.15);
    transition: transform 0.3s ease;
}

section{
padding:20px 20px;
}

.about{
    background:#f8f9fc;
    padding:80px 20px;
}

.about-container{
    max-width:1100px;
    margin:auto;
    text-align:center;
}

.about h2{
    font-size:40px;
    color:#0a192f;
    margin-bottom:20px;
}

.intro{
    font-size:18px;
    color:#555;
    max-width:800px;
    margin:0 auto 40px;
    line-height:1.8;
}

.about-card{
    background:#fff;
    padding:25px;
    margin:20px 0;
    border-radius:15px;
    box-shadow:0 5px 20px rgba(0,0,0,0.08);
    text-align:left;
    transition:0.3s;
}

.about-card:hover{
    transform:translateY(-5px);
}

.about-card h3{
    color:#E0A52B;
    margin-bottom:10px;
}

.about-card p{
    color:#444;
    line-height:1.8;
}

@media(max-width:768px){

    .about h2{
        font-size:30px;
    }

    .intro{
        font-size:16px;
    }

}
.clients{
    padding:80px 20px;
    background:#f8f9fc;
    text-align:center;
}

.section-title{
    font-size:42px;
    color:#0a192f;
    margin-bottom:10px;
}

.section-subtitle{
    font-size:18px;
    color:#666;
    margin-bottom:50px;
}

.client-gallery{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
    gap:30px;
    max-width:1200px;
    margin:auto;
    object-fit: contain;
}

.client-card{
    background:#fff;
    border-radius:15px;
    overflow:hidden;
    box-shadow:0 5px 20px rgba(0,0,0,0.1);
    transition:0.3s;
}

.client-card:hover{
    transform:translateY(-8px);
}

.client-card img{
    width:100%;
    height:250px;
    object-fit:cover;
    display:block;
}

.client-card h3{
    margin:15px 0 10px;
    color:#0a192f;
}

.client-card p{
    padding:0 15px 20px;
    color:#666;
}

.card{
    background:white;
    border-radius:20px;
    padding:25px;
    box-shadow:0 10px 30px rgba(0,0,0,.1);
    transition:.3s;
}

.card:hover{
    transform:translateY(-10px);
}

.portfolio-gallery{
    display:grid;
    grid-template-columns:
    repeat(auto-fit,minmax(300px,1fr));
    gap:25px;
}

.portfolio-gallery img{
    width: 100%;
    height:250px;
    max-width: 400px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.15);
    transition: transform 0.3s ease;
}

.portfolio-gallery img:hover{
    transform: scale(1.05);
}

.lightbox{
    display:none;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,.9);
    justify-content:center;
    align-items:center;
    z-index:9999;
}

.lightbox img{
    max-width:90%;
    max-height:90%;
    border-radius:15px;
}

.contact-section{
    padding:100px 20px;
    background:linear-gradient(
    135deg,
    #5B2C91,
    #7D3C98
    );
    text-align:center;
    color:white;
}

.contact-section h2{
    font-size:3rem;
    margin-bottom:10px;
}

.contact-section p{
    opacity:.9;
}

.contact-container{
    display:grid;
    grid-template-columns:
    repeat(auto-fit,minmax(250px,1fr));
    gap:25px;
    margin-top:50px;
}

.contact-card{
    background:rgba(255,255,255,.1);
    backdrop-filter:blur(10px);
    padding:30px;
    border-radius:20px;
    transition:.3s;
}

.contact-card:hover{
    transform:translateY(-10px);
    background:rgba(255,255,255,.15);
}

.contact-card h3{
    margin-bottom:15px;
}

.contact-card a{
    color:#FFD700;
    text-decoration:none;
    font-weight:bold;
}

.social-links a{
    display:inline-block;
    background:#1877F2;
    color:white;
    padding:12px 25px;
    border-radius:50px;
    text-decoration:none;
    margin-top:20px;
    transition:.3s;
}

.social-links a:hover{
    transform:translateY(-3px);
}

.footer{
    background:linear-gradient(
    135deg,
    #5B2C91,
    #7D3C98
    );
    color:white;
    text-align:center;
    padding:20px 20px;
}

.footer-logo{
    width:150px;
    margin-bottom:15px;
}

.footer h3{
    margin:10px 0;
    color:#E0A52B;
}

.footer-social{
    margin:25px 0;
}

.footer-social a{
    color:white;
    text-decoration:none;
    background:#1877F2;
    padding:12px 25px;
    border-radius:30px;
    transition:0.3s;
}

.footer-social a:hover{
    background:#0d65d9;
}

.footer hr{
    border:none;
    height:1px;
    background:#d4d0d0;
    margin:30px 0;
}

.copyright{
    color:#aaa;
    font-size:14px;
}
